{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"} }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :test-cljs
  {:extra-paths ["test"]
   :main-opts ["--main"    "cljs.main"
               "--repl-env" "node"
               "-i" "test/quoll/rdf_test.cljc"]  ;; execute with clj -M:test-cljs
   :extra-deps {org.clojure/clojurescript {:mvn/version "1.12.134"}}}
  :build {:deps {io.github.seancorfield/build-clj {:git/tag "v0.9.2" :git/sha "9c9f078"}
                 io.github.clojure/tools.build {:mvn/version "0.10.11"}}
          :ns-default build} } }
